@import url("./reset.css");

body {
  background: linear-gradient(0deg, rgba(58,147,233,1) 0%, rgba(236,230,28,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  min-height: 100vh;
  padding-top: 32px;
}


